#dash-component {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#dash-component div{
    margin-right: 100px;
}

#menu {
    display: flex;
    background-color: aquamarine;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

#menu button {
    height: 30px;
}

.homeheader {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    justify-content: space-around;
    height: 120px;
}

#homebody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
}

#login input {
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details input {
    margin-bottom: 10px;
}

.details select {
    margin-bottom: 10px;
}